[Unit]
Description=Alertmanager Server
Wants=network-online.target
After=network-online.target

[Service]
User={{user}}
Group={{group}}
Type=simple
ExecStart=/usr/local/bin/alertmanager \
    --config.file=/etc/alertmanager/alertmanager.yml \
    --storage.path=/var/lib/alertmanager

[Install]
WantedBy=multi-user.target
